# Virtual Environment
.venv
venv/
env/

# Data files
data/
./data
*.csv

# Python cache
*pycache*
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files
*.pt
*.pth
*.onnx

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# API Keys
kaggle.json
*.json.secret

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
.env
out.txt
models/concrete_cnn_fhe/client.zip
models/concrete_cnn_fhe/server.zip
notebooks/.artifacts/_clear_forward_proxy.1.initial.graph.txt
notebooks/.artifacts/_clear_forward_proxy.2.after-fusing.graph.txt
notebooks/.artifacts/_clear_forward_proxy.3.after-fusing.graph.txt
notebooks/.artifacts/_clear_forward_proxy.4.after-fusing.graph.txt
notebooks/.artifacts/_clear_forward_proxy.5.after-fusing.graph.txt
notebooks/.artifacts/_clear_forward_proxy.6.after-fusing.graph.txt
notebooks/.artifacts/_clear_forward_proxy.7.final.graph.txt
test_result/02.txt
